<div class="page-header">
    <p>sdasdas</p>
    {{this.pokemonData.name}}
        <button type="button" class="btn btn-secondary"><a [routerLink]="['/pokemones']">&larr; Back</a></button>
</div>


   

            <img class="img-responsive" [src]="pokemonImg" alt="">
         
            <ul>
                <li *ngFor="let type of pokemonTypes">
                  {{ type.type.name }}
                </li>
              </ul>
              <ul>
                <li *ngFor="let move of pokemonMoves">
                  {{ move.move.name }}
                </li>
              </ul>
 



