<div class="header-container" id="header">
    <header><a class="page-header main-header" href="#"><h1>Pokemons</h1></a></header>
    <main>
      <div id="searchBar" class="searchBar">
        <input  ng-change="change()" class="form-control mr-sm-2" type="text" placeholder="Pikachu" (keyup.enter)="searchPokemon(searchedPokemon.value)" #searchedPokemon>
        <button class="btn btn-secondary" (click)="searchPokemon(searchedPokemon.value)" type="button" >Search</button>
      </div>
      <div id="warningMessage">There's no such pokemon :(</div>
  </main>
</div>