.pokemonContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(132px, 1fr));
    font-family: 'Roboto', sans-serif;
    grid-gap:8px;
    justify-items: space-around;
    padding-left: 32px;
    padding-right: 32px;
    padding-top:8px;
}
.page-header{
    text-align: center;
}
