<div class="pokemons">
    <header class="page-header">
        <h2>Pokedex</h2>
    </header>
        <main class="pokemonContainer">
            <div id="noInternet">Check your connection</div>
            <div *ngFor="let dummy of ' '.repeat(151).split(''), let x = index"> 
                <div *ngIf="pokemons" class="=" (click)="getOnePokemon(x+1)" >
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-secondary pokemon-element">{{pokemons[x]["name"]| titlecase }}<span class="next">&nbsp;&rarr;</span></li>
                    </ul>
                </div>
            </div>
        </main>
</div>